{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SecureFileShare</title>

    <!-- Core CSS - Include with every page -->
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
    {% if user.is_authenticated %}
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     {% endif %}
      <a class="navbar-brand" href="/"><b>SecureFileShare</b></a>
    </div>

	{% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
				  {% if user.is_staff %}
  				 <li><a href="/sitemanager">Manage</a></li>
		  {% endif %}
		  <li><a href="/main">Profile</a></li>
          {% if user.profile.unreadmessages == "true" %}
          <li><a href="/messages" style="color:#f40f1a"><span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
          {% else %}
		<li><a href="/messages">Messages</a></li>
          {% endif %}
		<li><a href="/create_report">Create Report</a></li>
		<li><a href="/create_group">Create Group</a></li>
		<li>
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
				<span class="glyphicon glyphicon-user"></span>
				<span class="caret"></span>
			</a>
			  <ul class="dropdown-menu" role="menu">
	            <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
	            <li><a href="/account/view"><span class="glyphicon glyphicon-cog"></span> Account</a></li>
	            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	          </ul>
		</li>

      </ul>
    </div>
	{% endif %}
  </div>
</nav>
<div style="padding-top: 65px">
    {% block content %}
    {% endblock %}
</div>

    {% block javascript %}
    <!-- Core Scripts - Include with every page -->
    <script src = "{% static 'dist/js/jquery.min.js' %}"></script>
    <script src = "{% static 'dist/js/bootstrap.min.js' %}"></script>
    
    <!-- SHA256 file hash javascript files -->
    <script src = "{% static 'dist/js/core.js' %}"></script>
    <script src = "{% static 'dist/js/lib-typedarrays.js' %}"></script>
    <script src = "{% static 'dist/js/sha256.js' %}"></script>
    <script src = "{% static 'dist/js/sha2hash.js' %}"></script>
    
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cryptico/0.0.1343522940/cryptico.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cryptico/0.0.1343522940/cryptico.min.js"></script>
	
	{% endblock %}

</body>

</html>