{% extends 'fileshare/base.html' %}


{% block content %}

 <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Password Change</h3>
                    </div>
                    <div class="panel-body">
<form id="changepassword_form" method="post" action="/account/changepassword"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ form.as_p }}

            <!-- Provide a button to click to submit the form. -->
    <p class="text-center"><input type="submit" class="btn btn-success btn-sm" name="submit" value="Change Password" />
    <br \><br \>
     <a href="/account/view">Cancel</a></p>

        </form>
</div>
</div>
</div>
</div>
</div>

{% endblock %}


