{% extends 'fileshare/base.html' %}

{% block content %}

<div class="container">
  <div class="col-md-8 col-md-offset-2">
	<div class="panel panel-default">
		<div class="panel-heading">Create a Group</div>
		<div class="panel-body">
		<form method="POST" action="create_group" enctype="multipart/form-data">
			{% csrf_token %}
			<table class="table">
				<!-- {{ group_form.as_table }} -->
				<tr>
					<th><label for="id_name">Group Name:</label></th>
					<td><input id="id_name" maxlength="128" name="name"
						type="text" required />
					</td>
				</tr>
				<tr>
					<th><label for="id_members">Select Members:</label></th>
					<td>
						<!-- <ul id="id_members"> -->
						{% for profile in members %}
							<!-- <li> -->
							<div class="checkbox" style="padding-left: 10px;">
								<label for="id_members_{{profile.id}}">
								<input id="id_members_{{profile.id}}" name="members" type="checkbox" value="{{profile.id}}" />
										{{profile.user.username}}
								</label>
							</div>
							<!-- </li> -->
						{% endfor %}
						<!-- </ul> -->
					</td>
				</tr>
			</table>
			<input class="btn btn-primary" type="submit" value="Create" />
		</form>
		</div>
	</div>
  </div>
</div>

{% endblock %}
