{% extends 'fileshare/base.html' %}

{% block content %}

{% csrf_token %}
<div class="container">
	<h3>Edit User</h3>
	<div class="panel panel-default">
		<div class="panel-heading"><strong>Permissions</strong></div>
		<div class="panel-body">
            <!--still have to write the code that actually updates the info-->
            <form method="POST" action="/fileshare/edit_user" enctype="multipart/form-data">
                <input type="checkbox" id="active" value="{{user.is_active}}"><font size = "3">Active</font><br>
                <p>Designates whether this user should be treated as active. Unselect this instead of deleting accounts</p>
                <input type="checkbox" id="staff_status"><font size = "3" value ="{{user.is_staff}}">Staff Status</font><br>
                <p>Designates whether the user is a site manager</p>
            </form>
            <br>
            <!--<p><font size="3">Groups:</font></p>-->
            <input class="btn btn-success btn-sm" type="submit" value="Save"/>
		</div>
	</div>
    </div>

{% endblock %}