{% extends 'fileshare/base.html' %}

{% block content %}
<head>
	<style>
	table#t01 tr:nth-child(even) {
		background-color: #fff ;
	}
	table#t01 tr:nth-child(odd) {
		background-color: #eee;
	}
	td {
		padding: 3px;
		border: 3px solid white;
	}
	</style>
</head>

<div class="container">
	<div class="row">
		<div class="jumbotron">
			<h1>Hello {{ user.username }}</h1>
			<p>You are on your Dashboard</p>
		</div>

		<div class="jumbotron">
			
			<h2><b> Your Folders </b></h2><br>
			<table id="t01" width="80%">
				<tr>
					<th>Name</th>
					<th>Created</th>
				</tr>
				{% for f in folders %}
				<tr>
					<td><a href="{{ f.id }}/view_folder">{{ f.name }}</a></td><td>{{ f.created }}</td>
				</tr>
				{% endfor %}
			</table><br>

			<h2><b>Your Reports<b></h2><br>

			{% if num_reports == 0 %}
			You have no reports.
			{% else %}
			
			<table id="t01" width="80%">
				<tr>
					<th>Title</th>
					<th>Last Modified By</th>
					<th>Last Modified</th>
					<th>Created</th>
				</tr>
				{% for r in your_reports %}
				<tr><td>{{ r.short_desc }}</td><td>{{ r.last_modified_by }}</td><td>{{ r.last_modified }}</td><td>{{ r.created }}</td>
					<form id="{{ r.short_desc }}" action="{% url 'fileshare:view_report' r.id %}" method="POST">
						{% csrf_token %}
						<td> 
							<center><button type="submit" form="{{ r.short_desc }}" name="action" value="view">View/Edit</button></center>
						</td>
					</form>
				</tr>
				{% endfor %}
			</table>
			{% endif %}<br>

			<h3><b>Create a New Folder<b></h3>
			<form method="POST" action="{% url 'fileshare:main' %}">
				{% csrf_token %}
				{{ folder_form.as_p }}
				<input type="submit" value="Create Folder">
			</form>

		</div>

		<div class="jumbotron">
			<h2><b>Other Public Reports<b></h2><br>
			<table id="t01" width="80%">
				<tr>
					<th>Title</th>
					<th>Owner</th>
					<th>Last Modified By</th>
					<th>Last Modified</th>
					<th>Created</th>
				</tr>
				{% for r in other_reports %}
				<tr><td>{{ r.short_desc }}</td><td>{{ r.owned_by }}</td><td>{{ r.last_modified_by }}</td><td>{{ r.last_modified }}</td><td>{{ r.created }}</td>
					<form id="{{ r.short_desc }}" action="{% url 'fileshare:view_report' r.id %}" method="POST">
						{% csrf_token %}
						<td>
							<center><button type="submit" form="{{ r.short_desc }}" name="action" value="view">View/Edit</button></center>
						</td>
					</form>
				</tr>
				{% endfor %}
			</table>
		</div>

		<div class="jumbotron">
			<h2><b> Your Groups </b></h2><br>
			<table id="t01" width="80%">
				<th> Name </th>
				<th> Creator </th>
				<th> Number of Members </th>
				{% for g in user.profile.groups_in.all %}
				<tr><td> <a href="{{ g.id }}/view_group">{{ g.name }}</a> </td><td>{{ g.creator }}</td> <td>{{ g.members.count }}</td></tr>
				{% endfor %}
			</table>
		</div>
	</div>

	{% endblock %}