{% extends 'fileshare/base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="jumbotron">
			<h1>Hello {{ user.username }}</h1>
			<p>You are on your Dashboard</p>
		</div>


		<div class="jumbotron">
			<h2><b>Create a Report</b></h2>
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				<table>
					{{ report_form.as_p }}
				</table>
				<input type="submit" value="Create Report" /> 
			</form>
		</div>

		<div class="jumbotron">
			<h2><b>Your Reports<b></h2>
			
			{% if num_reports == 0 %}
				You have no reports.
			{% else %}
				{% for r in reports %}
					<li>{{ r.short_desc }}</li>
				{% endfor %}
			{% endif %}
		</div>
	</div>

</div>
{% endblock %}