{% extends 'fileshare/base.html' %}

{% block content %}
<head>
	<style>
	table#t01 tr:nth-child(even) {
		background-color: #fff ;
	}
	table#t01 tr:nth-child(odd) {
		background-color: #eee;
	}
	td {
		padding: 3px;
		border: 2px solid white;
	}
	</style>
</head>

<div class="container">
	<div class="row">
		<div class="jumbotron">
			<h1>Hello {{ user.username }}</h1>
			<p>You are on your Dashboard</p>
		</div>

		<div class="jumbotron">
			<h2><b>Your Reports<b></h2><br>
			
			{% if num_reports == 0 %}
			You have no reports.
			{% else %}
			
			<table id="t01" width="80%">
				<tr>
					<th>Title</th>
					<th>Last Modified</th>
					<th>Created</th>
				</tr>
				{% for r in your_reports %}
				<tr><td>{{ r.short_desc }}</td><td>{{ r.last_modified }}</td><td>{{ r.created }}</td>
					<form id="{{ r.short_desc }}" action="{% url 'fileshare:view_report' r.id %}" method="POST">
						{% csrf_token %}
						<td> 
							<center><button type="submit" form="{{ r.short_desc }}" name="action" value="view">View/Edit</button></center>
						</td>
					</form>
				</tr>
				{% endfor %}
			</table>
			{% endif %}
		</div>
	

	<div class="jumbotron">
		<h2><b>Other Public Reports<b></h2><br>
		<table id="t01" width="80%">
		<tr>
					<th>Title</th>
					<th>Last Modified</th>
					<th>Created</th>
				</tr>
		{% for r in other_reports %}
		<tr><td>{{ r.short_desc }}</td><td>{{ r.last_modified }}</td><td>{{ r.created }}</td>
			{% endfor %}
		</table>
	</div>
	</div>

	{% endblock %}