{% extends 'fileshare/base.html' %}

{% block content %}

{% csrf_token %}
<div class="container">
	<h3>Site Administration</h3>
	<div class="panel panel-default">
		<div class="panel-heading">Users</div>
		<div class="panel-body">
		{% if all_users != null %}
			<ul class="list-group">
				{% for user in all_users %}
					<li class="list-group-item">
						{{user.username}}
						<a href="#">
							<i class="glyphicon glyphicon-pencil" style="padding-left:5px;"></i>
							<i class="glyphicon glyphicon-trash" style="padding-left:5px;"></i>
						</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			No users.
		{% endif %}
		</div>
	</div>
    </div>

{% endblock %}