{% extends 'fileshare/base.html' %}

{% block content %}

{% csrf_token %}
<div class="container">
	<h3>Site Administration</h3>
	<div class="panel panel-default">
		<div class="panel-heading"><strong>Groups</strong></div>
		<div class="panel-body">
		{% if all_groups != null %}
			<ul class="list-group">
				{% for group in all_groups %}
					<li class="list-group-item">
						{{group.name}}
						<a href= /{{group.id}}/view_group>
			   <i class="glyphicon glyphicon-pencil" style="padding-left:5px;"></i></a>
						<!-- <i class="glyphicon glyphicon-trash" style="padding-left:5px;"></i> -->
					</li>
				{% endfor %}
			</ul>
		{% else %}
			No groups.
		{% endif %}
		</div>
	</div>
    </div>

{% endblock %}