{% extends 'fileshare/base.html' %}

{% block content %}

{% csrf_token %}
<div class="container">
	<h3>Site Administration</h3>
	<div class="panel panel-default">
		<div class="panel-heading"><strong>Reports</strong></div>
		<div class="panel-body">
		{% if all_reports != null %}
			<ul class="list-group">
				{% for report in all_reports %}
					<li class="list-group-item">
						{{report.short_desc}}
                        <a href="/fileshare/view_report/{{ report.id }}">
							<i class="glyphicon glyphicon-pencil" style="padding-left:5px;"></i></a>
{#						<a class="btn btn-primary" onClick="BoostrapDialog.show""/delete_report/{{ report.id }}">#}
                        <a href="/delete_report/{{ report.id }}">
                        <i class="glyphicon glyphicon-trash" style="padding-left:5px;"></i></a>

					</li>
				{% endfor %}
			</ul>
		{% else %}
			No reports.
		{% endif %}
		</div>
	</div>
    </div>

{% endblock %}

<script>

        BootstrapDialog.show({
            message: 'Hi Apple!',
            buttons: [{
                label: 'Button 1',
                title: 'Mouse over Button 1'
            }, {
                label: 'Button 2',
                // no title as it is optional
                cssClass: 'btn-primary',
                action: function(){
                    alert('Hi Orange!');
                }
            }, {
                icon: 'glyphicon glyphicon-ban-circle',
                label: 'Button 3',
                title: 'Mouse over Button 3',
                cssClass: 'btn-warning'
            }, {
                label: 'Close',
                action: function(dialogItself){
                    dialogItself.close();
                }
            }]
        });
</script>