{% extends 'fileshare/base.html' %}

{% block content %}

{% csrf_token %}
<div class="container">
	<h3>Site Administration</h3>
	<div class="panel panel-default">
		<div class="panel-heading"><strong>Reports</strong></div>
		<div class="panel-body">
		{% if all_reports != null %}
			<ul class="list-group">
				{% for report in all_reports %}
					<li class="list-group-item">
						{{report.short_desc}}
						<a href="view_report/{{report.id}}" style="padding-left:10px;">
							<i class="fa fa-edit"></i>
						</a>
						<!-- <a href="#" onclick="javascript:confirmation({{report.id}},'{{report.short_desc}}')"> -->
						<a href="#" data-toggle="modal" data-target="#delReport{{report.id}}" style="padding-left:10px;">
							<i class="fa fa-trash-o"></i>
						</a>
						<!-- Modal -->
						<div id="delReport{{report.id}}" class="modal fade" role="dialog">
						  <div class="modal-dialog modal-md">

						    <!-- Modal content-->
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal">&times;</button>
						        <h4 class="modal-title">Delete Report</h4>
						      </div>
						      <div class="modal-body">
						        <p>Are you sure you want to delete report, "{{report.short_desc}} ?"</p>
						      </div>
						      <div class="modal-footer">
						        <a href="delete_report/{{report.id}}" role="button" class="btn btn-danger">Delete</a>
						        <a href="#" role="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
						      </div>
						    </div>

						  </div>
						</div>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			No reports.
		{% endif %}
		</div>
	</div>
    </div>

{% endblock %}