{% extends 'fileshare/base.html' %}




{% block content %}
{% load staticfiles %}
<link href="{% static 'css/messagescss.css' %}" rel="stylesheet">


<div align="left">
  <script src="https://use.fontawesome.com/45e03a14ce.js"></script>
<div class="pull-left" id="themasterdiv">
   <div class="container">
      <div class="chat_container">
         <div class="col-sm-3 chat_sidebar">
    	 <div class="row">
            <div id="custom-search-input">
               <div class="input-group col-md-12">
                  <input type="text" class="  search-query form-control" placeholder="Conversation" />
                  <button class="btn btn-danger" type="button">
                  <span class=" glyphicon glyphicon-search"></span>
                  </button>
               </div>
            </div>
            <div class="dropdown all_conversation">

            </div>
            <div class="member_list">
               <ul class="list-unstyled" id="conversationlist">
                  {% if conversation_list %}
                    {% for conversation in conversation_list %}
                 <li class="left clearfix" onclick="loadMessages(this)" ">
                     <div class="chat-body clearfix">
                        <div class="header_sec">
                          {% if conversation.sender == user %}
                           <strong class="primary-font">{{conversation.reciever}}</strong>
                          {% else %}
                          <strong class="primary-font">{{conversation.sender}}</strong>
                          {% endif %}
                          <strong class="pull-right">
                           {{conversation.recently_used}}</strong><p class="hidden" id="convoname">{{conversation.reciever_name}}</p>

                        </div>
                        <div class="contact_sec">
                           <strong class="primary-font"></strong> <span class="badge pull-right">{{conversation.messages.count}}</span>
                        </div>
                     </div>
                  </li>
                    {% endfor %}
                    {% else %}
                 <li class="left clearfix">
                    <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font">No Conversations Available.</strong> <strong class="pull-right">
                           </strong>
                        </div>
                        <div class="contact_sec">
                           <strong class="primary-font"></strong> <span class="badge pull-right"></span>
                        </div>
                     </div>
                 </li>
                    {% endif %}

               </ul>
            </div></div>
         </div>
         <!--chat_sidebar-->


         <div class="col-sm-9 message_section">
		 <div class="row">
		 <div class="new_message_head">
		 <div class="pull-left"><button><i class="fa fa-plus-square-o" aria-hidden="true"></i> New Message</button></div><div class="pull-right"><div class="dropdown">


</div></div>
		 </div><!--new_message_head-->

		 <div class="chat_area" id="themessagearea">
		 <ul class="list-unstyled" id="messagelist">


		 </ul>
		 </div><!--chat_area-->
          <div class="message_write">
    	 <textarea class="form-control" placeholder="type a message" id="typedtext"></textarea>
		 <div class="clearfix"></div>
		 <div class="chat_bottom">
 <button onclick="sendMessage()" class="pull-right btn btn-success">
 Send</button></div>
		 </div>
		 </div>
         </div> <!--message_section-->
      </div>
   </div>
</div>


</div>
<form  class="hidden" id="hiddenmessageform" method="post" action="/messages">
{% csrf_token %}

{{ form.as_p }}

<input id="thesubmitbutton" class="btn btn-success btn-sm" type="submit" value="HiddenSubmit" />

</form>
<script>

   var messagestoload = [];
    {% if message_list %}
      {% for m in message_list %}
        var currentconvo = [];
          {% for cm in m %}
              var currentmessage = ["{{cm.messagecontent}}","{{cm.time}}",false];
              {% if cm.sender == user %}
                currentmessage[2]=true;
              {% endif %}
            currentconvo.push(currentmessage);
          {% endfor %}
        messagestoload.push(currentconvo);
      {% endfor %}
    {% endif %}

  var sendee = -1;

  function loadMessages(elmnt) {
    var convos = document.getElementById("conversationlist").children;

    elmnt.style.backgroundColor = '#2E86C1';
    elmnt.style.color = 'white';
    if (sendee != -1) {

    var lastconvo = convos.item(sendee);
      lastconvo.style.backgroundColor = '';
      lastconvo.style.color = 'black';
    }
    var convocount = document.getElementById("conversationlist").childElementCount;
    var convo = 0;
    while (elmnt != convos.item(convo) && convo < convocount ) {
      convo++
    }
    sendee = convo;
    var table = document.getElementById("messagelist");
    table.innerHTML = '';
    if(messagestoload) {
      var i = messagestoload[convo].length - 1;
      for (i; i >= 0; i--) {
        var item = document.createElement("li");
        if (messagestoload[convo][i][2]) {
          item.setAttribute("class", "left clearfix");
        }
        else {
          item.setAttribute("class", "left clearfix admin_chat");
        }

        item.appendChild(document.createElement("div"));
        if (messagestoload[convo][i][2]) {
          item.firstElementChild.setAttribute("class", "chat-body2 clearfix");
        }
        else {
          item.firstElementChild.setAttribute("class", "chat-body1 clearfix");
        }

        item.firstElementChild.appendChild(document.createElement("p"));
        item.firstElementChild.firstElementChild.innerText = messagestoload[convo][i][0];
        item.firstElementChild.appendChild(document.createElement("div"));
        if (messagestoload[convo][i][2]) {
          item.firstElementChild.children[1].setAttribute("class", "chat_time pull-right");
        }
        else {
          item.firstElementChild.children[1].setAttribute("class", "chat_time pull-left");
        }

        item.firstElementChild.children[1].innerText = messagestoload[convo][i][1];
        table.appendChild(item);
      }
      var scrolldiv = document.getElementById("themessagearea");
      scrolldiv.scrollTop = scrolldiv.scrollHeight;
    }
    else {


    }
  }

  function sendMessage() {

    var text = document.getElementById("typedtext").value;

    if (sendee != -1 && text) {
      var convolist = document.getElementById("conversationlist");
      var convoitem = convolist.children[sendee];
      var convoselect = document.getElementById("id_owned_by");

      var convoname = convoitem.firstElementChild.firstElementChild.children[2];

      for (i = 0; i < convoselect.childElementCount; i++) {

        if (convoname.innerText.valueOf() == convoselect.children[i].innerText.valueOf()) {
          convoselect.value = convoselect.children[i].getAttribute("value");
          break;
        }
      }
      document.getElementById("id_messagecontent").value = text;
      document.getElementById("id_sender").value = 1;
      document.getElementById("hiddenmessageform").submit();
    }
    else {
      alert("failure!");
    }


  }

    document.onload = loadMessages(document.getElementById("conversationlist").children[0]);



</script>




{% endblock %}

{% block javascript %}

{% endblock %}