{% extends 'fileshare/base.html' %}




{% block content %}
{% load staticfiles %}
<link href="{% static 'css/messagescss.css' %}" rel="stylesheet">


<div align="left">
  <script src="https://use.fontawesome.com/45e03a14ce.js"></script>
<div class="pull-left" id="themasterdiv">
   <div class="container">
      <div class="chat_container">
         <div class="col-sm-3 chat_sidebar">
    	 <div class="row">
            <div id="custom-search-input">
               <div class="input-group col-md-12">
                  <input type="text" class="  search-query form-control" placeholder="Conversation" />
                  <button class="btn btn-danger" type="button">
                  <span class=" glyphicon glyphicon-search"></span>
                  </button>
               </div>
            </div>
            <div class="dropdown all_conversation">

            </div>
            <div class="member_list">
               <ul class="list-unstyled" id="conversationlist">
                  {% if conversation_list %}
                    {% for conversation in conversation_list %}
                 <li class="left clearfix" onclick="loadMessages(this)">
                     <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font">{{conversation.reciever}}</strong>
                          <strong class="pull-right">
                           {{conversation.recently_used}}</strong><p class="hidden" id="convoname">{{conversation.reciever_name}}</p>

                        </div>
                        <div class="contact_sec">
                           <strong class="primary-font"></strong> <span class="badge pull-right">{{conversation.unreadmessages}}</span><span class="hidden">{{conversation.id}}</span>
                        </div>
                     </div>
                  </li>
                    {% endfor %}
                    {% else %}
                 <li class="left clearfix">
                    <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font">No Conversations Available.</strong> <strong class="pull-right">
                           </strong>
                        </div>
                        <div class="contact_sec">
                           <strong class="primary-font"></strong> <span class="badge pull-right"></span>
                        </div>
                     </div>
                 </li>
                    {% endif %}

               </ul>
            </div></div>
         </div>
         <!--chat_sidebar-->


         <div class="col-sm-9 message_section">
		 <div class="row">
		 <div class="new_message_head">
             <button onclick="newMessage()"><i  class="fa fa-plus-square-o" aria-hidden="true"></i> New Message</button><span padding="50px" display="inline-block" id="newmessagebar"  ></span>
		 <span id="cancelbutton" class="hidden"><button onclick="cancelPressed()" type="button" class="btn btn-default btn-md">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</button></span>
         </div>
		 <!--new_message_head-->


		 <div class="chat_area" id="themessagearea">
		 <ul class="list-unstyled" id="messagelist">


		 </ul>
		 </div><!--chat_area-->
          <div class="message_write">
    	 <textarea class="form-control" placeholder="type a message" id="typedtext"></textarea>
		 <div class="clearfix"></div>
		 <div class="chat_bottom"><span float="right"><input float="right" id="thecheckbox" type="checkbox"  aria-hidden="true" >      Send Encrypted</span>
 <button onclick="sendMessage()" class="pull-right btn btn-success">
 Send</button></div>
		 </div>
		 </div>
         </div> <!--message_section-->
      </div>
   </div>
</div>


</div>
<form class="hidden" id="hiddenmessageform" method="post" action="/messages">
{% csrf_token %}

{{ form.as_p }}

<input id="thesubmitbutton" class="btn btn-success btn-sm" type="submit" value="HiddenSubmit" />

</form>


<script>

   var messagestoload = [];
    {% if message_list %}
      {% for m in message_list %}
        var currentconvo = [];
          {% for cm in m %}
                var currentmessagetext = decodeHTMLEntities("{{cm.messagecontent}}");
              var currentmessage = [currentmessagetext,"{{cm.time}}",false,"{{cm.key}}","{{cm.id}}"];
              {% if cm.sender == user %}
                currentmessage[2]=true;
              {% endif %}
            currentconvo.push(currentmessage);
          {% endfor %}
        messagestoload.push(currentconvo);
      {% endfor %}
    {% endif %}

    var recieverlist = [];
   {% if reciever_list %}
   {% for r in reciever_list %}
        recieverlist.push(["{{r.username}}","{{r.Profile.publickey}}"]);
   {% endfor %}
   {% endif %}


  var sendee = -1;
   var isnewmessage = false;

  function loadMessages(elmnt) {
    readmessages(elmnt);
    var convos = document.getElementById("conversationlist").children;
    if(isnewmessage) {
        document.getElementById("newmessagerecepient").setAttribute("class","hidden");
        document.getElementById("cancelbutton").setAttribute("class","hidden");
      isnewmessage=false;
    }
    elmnt.style.backgroundColor = '#2E86C1';
    elmnt.style.color = 'white';
    if (sendee != -1) {

    var lastconvo = convos.item(sendee);
      lastconvo.style.backgroundColor = '';
      lastconvo.style.color = 'black';
    }
    var convocount = document.getElementById("conversationlist").childElementCount;
    var convo = 0;
    while (elmnt != convos.item(convo) && convo < convocount ) {
      convo++
    }
    sendee = convo;
    var table = document.getElementById("messagelist");
    table.innerHTML = '';
    if(messagestoload) {
      var i = messagestoload[convo].length - 1;
      for (i; i >= 0; i--) {
        var item = document.createElement("li");
        if (messagestoload[convo][i][2]) {
          item.setAttribute("class", "left clearfix");
        }
        else {
          item.setAttribute("class", "left clearfix admin_chat");
        }

        item.appendChild(document.createElement("div"));
        if (messagestoload[convo][i][2]) {
          item.firstElementChild.setAttribute("class", "chat-body2 clearfix");
            item.firstElementChild.style.color = 'white';
        }
        else {
          item.firstElementChild.setAttribute("class", "chat-body1 clearfix");
        }
        item.firstElementChild.appendChild(document.createElement("span"));

        item.firstElementChild.firstElementChild.appendChild(document.createElement("p"));
        item.firstElementChild.firstElementChild.firstElementChild.innerText = messagestoload[convo][i][0];
          item.firstElementChild.firstElementChild.firstElementChild.appendChild(document.createElement("button"));


          var thebutton = item.firstElementChild.firstElementChild.firstElementChild.firstElementChild;
         thebutton.onclick = function(){window.location.href = "/deletemessage/"+this.children[1].innerText};
          thebutton.setAttribute("type","button");
          thebutton.setAttribute("class","btn btn-default btn-sm pull-right hidden");
          thebutton.appendChild(document.createElement("span"));
          thebutton.firstElementChild.setAttribute("class","glyphicon glyphicon-remove");
          thebutton.firstElementChild.setAttribute("aria-hidden","true");
          thebutton.appendChild(document.createElement("p"));
          thebutton.children[1].setAttribute("class","hidden");
          thebutton.children[1].innerText = messagestoload[convo][i][4];

          if(messagestoload[convo][i][3]) {
              item.firstElementChild.firstElementChild.firstElementChild.appendChild(document.createElement("button"));
              var decryptbutton = item.firstElementChild.firstElementChild.firstElementChild.children[1];
              decryptbutton.onclick = function(){
                  var theurl = "/decrypt_message/";
                  theurl += this.children[1].innerText;
                  var win = window.open(theurl,'_blank');
                  win.focus();
              };
          decryptbutton.setAttribute("type","button");
          decryptbutton.setAttribute("class","btn btn-default btn-sm pull-right hidden");
          decryptbutton.appendChild(document.createElement("span"));
          decryptbutton.firstElementChild.setAttribute("class","glyphicon glyphicon-lock");
          decryptbutton.firstElementChild.setAttribute("aria-hidden","true");
              decryptbutton.appendChild(document.createElement("p"));
              decryptbutton.children[1].setAttribute("class","hidden");
              decryptbutton.children[1].innerText = messagestoload[convo][i][4];
          item.onmouseover = function(){
              this.firstElementChild.firstElementChild.firstElementChild.firstElementChild.setAttribute("class","btn btn-default btn-md pull-right");
              this.firstElementChild.firstElementChild.firstElementChild.children[1].setAttribute("class","btn btn-default btn-md pull-right");
          };
          item.onmouseout = function(){
              this.firstElementChild.firstElementChild.firstElementChild.firstElementChild.setAttribute("class","btn btn-default btn-md pull-right hidden");
              this.firstElementChild.firstElementChild.firstElementChild.children[1].setAttribute("class","btn btn-default btn-md pull-right hidden")
          };

          }
          else {
              item.onmouseover = function(){
              this.firstElementChild.firstElementChild.firstElementChild.firstElementChild.setAttribute("class","btn btn-default btn-md pull-right");
              };
          item.onmouseout = function(){
              this.firstElementChild.firstElementChild.firstElementChild.firstElementChild.setAttribute("class","btn btn-default btn-md pull-right hidden");
              };
          }

        item.firstElementChild.appendChild(document.createElement("div"));


        if (messagestoload[convo][i][2]) {
          item.firstElementChild.children[1].setAttribute("class", "chat_time pull-right");
        }
        else {
          item.firstElementChild.children[1].setAttribute("class", "chat_time pull-left");
        }

        item.firstElementChild.children[1].innerText = messagestoload[convo][i][1];
          item.firstElementChild.children[1].style.color = 'black';

        table.appendChild(item);
      }
      var scrolldiv = document.getElementById("themessagearea");
      scrolldiv.scrollTop = scrolldiv.scrollHeight;
    }
    else {


    }
  }

  function sendMessage() {

    var text = document.getElementById("typedtext").value;

    if (sendee != -1 && text) {
      var convolist = document.getElementById("conversationlist");
      var convoitem = convolist.children[sendee];

      var convoselect = document.getElementById("id_owned_by");

      var convoname = convoitem.firstElementChild.firstElementChild.children[2];

      for (i = 0; i < convoselect.childElementCount; i++) {
        if (convoname.innerText == convoselect.children[i].innerText) {

          convoselect.value = convoselect.children[i].getAttribute("value");
              break;
        }
      }

        if(document.getElementById("thecheckbox").checked) {

                document.getElementById("id_thekey").value = "True";
        }
            document.getElementById("id_messagecontent").value = text;


      document.getElementById("id_sender").value = 1;
      document.getElementById("hiddenmessageform").submit();

    }

    else if(isnewmessage && text) {
        var convolist = document.getElementById("conversationlist").children;
        var convoselect = document.getElementById("id_owned_by");
        var username = document.getElementById("newmessagerecepient").options[document.getElementById("newmessagerecepient").selectedIndex].text;
        document.getElementById("id_newmessagefield").value = "Yes";

        convoselect.value = 1;

        for (i=0;i<convolist.length;i++){
            if (convolist[i].firstElementChild.firstElementChild.children[0].innerText == username) {
                sendee = i;
                document.getElementById("id_newmessagefield").value = "";
                var convoname = convolist[i].firstElementChild.firstElementChild.children[2];

                for (i = 0; i < convoselect.childElementCount; i++) {
                     if (convoname.innerText == convoselect.children[i].innerText) {

                        convoselect.value = convoselect.children[i].getAttribute("value");
                         break;
                        }
                }
                cancelPressed();
                sendMessage();
                break;
            }
        }


        var sendselect = document.getElementById("id_sender");
        sendselect.value = document.getElementById("newmessagerecepient").value;
        var messagekey = null;
        if(document.getElementById("thecheckbox").checked) {
            document.getElementById("id_thekey").value = "True";
        }
            document.getElementById("id_messagecontent").value = text;

        document.getElementById("hiddenmessageform").submit();

    }
    else {
      alert("failure!");
    }


  }
  function newMessage() {
    if (sendee != -1) {
    var convos = document.getElementById("conversationlist").children;
    var lastconvo = convos.item(sendee);
      lastconvo.style.backgroundColor = '';
      lastconvo.style.color = 'black';
    }
    sendee = -1;

    isnewmessage = true;
    var recepientlist = document.getElementById("newmessagerecepient");
      recepientlist.setAttribute("class","");
    var table = document.getElementById("messagelist");
    table.innerHTML = '';
      document.getElementById("cancelbutton").setAttribute("class","");


  }
  function cancelPressed() {
      document.getElementById("newmessagerecepient").setAttribute("class","hidden");
        document.getElementById("cancelbutton").setAttribute("class","hidden");
      isnewmessage=false;
  }


  function pageload() {
      //load messages
      {% if conversation_list %}
      loadMessages(document.getElementById("conversationlist").children[0]);
      {% endif %}
      //load recepient list
      var recepientlistinit = document.getElementById("id_sender");
      var recepientlist = recepientlistinit.cloneNode(true);
      var messagebar = document.getElementById("newmessagebar");
      recepientlist.setAttribute("id","newmessagerecepient");
      //recepientlist.setAttribute("margin","50px");
      //recepientlist.setAttribute("padding","50px");
      recepientlist.setAttribute("class","hidden");
      messagebar.insertBefore(recepientlist,messagebar.firstElementChild);


  }

  function decryptmessage(themessage,thedeletebutton,key) {
      var decrypted = key.decrypt(themessage.innerText,key);
      //themessage.innerText = decrypted.toString(CryptoJS.enc.Utf8);
      themessage.innerText = decrypted;
      themessage.appendChild(thedeletebutton);
  }

  function readmessages(convoitem) {
      convoitem.firstElementChild.children[1].children[1].innerText = 0;

      var read = new XMLHttpRequest();
      var requeststring = "/update_unread/" + convoitem.firstElementChild.children[1].children[2].innerText;

      read.open("GET",requeststring,true);
      read.send();
      //alert("worked");
  }

  function decodeHTMLEntities(text) {
    var entities = [
        ['amp', '&'],
        ['apos', '\''],
        ['#x27', '\''],
        ['#x2F', '/'],
        ['#39', '\''],
        ['#47', '/'],
        ['lt', '<'],
        ['gt', '>'],
        ['nbsp', ' '],
        ['quot', '"']
    ];

    for (var i = 0, max = entities.length; i < max; ++i)
        text = text.replace(new RegExp('&'+entities[i][0]+';', 'g'), entities[i][1]);

    return text;
    }

    document.onload = pageload();



</script>




{% endblock %}

