{% extends 'fileshare/base.html' %}

{% block content %}

<div class="container">

	<div class="jumbotron">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{% if group.creator == user %}
			<h2><b>Edit Group</b></h2>
			{{ update_form.as_p }}
			<input type="submit" name="action" value="Save Changes"/>

			{% else %}
			<h2><b>View Report</b></h2>
			<h3>{{ group.name }}</h3>
			{% for m in group.members.all %}
				<br>{{ m }}<br>
			{% endfor %}
			{% endif %}
		</form>
	</div>
	
	

</div>

{% endblock %}