{% extends 'fileshare/base.html' %}

{% block content %}

<div class="container">

	<div class="panel panel-default">
		<div class="panel-heading"><h2><strong>{{ group.name }}</strong></h2></div>
		<div class="panel-body">
         <div class="row">
            <div class="col-lg-8">

                <div class="panel-body">
                    <div class="panel-heading"><h3><b>Reports in this group</b></h3></div><br>
                    <ul class="list-group">
                        {% for r in group.reports.all %}
                        <li class="list-group-item">
                            <a href="http://127.0.0.1:8000/fileshare/view_group_report/{{ r.id }}/{{ group.id }}" >{{ r }}</a>
                            <form id="remove_{{ r.short_desc }}" method="POST" action=".">
                                {% csrf_token %}
                                <div align="right"><button class="btn btn-danger btn-sm"  type="submit" form="remove_{{ r.short_desc }}" name="action" value="r{{ r.id }}"><span class="glyphicon glyphicon-remove"></span></button></div>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </div>



            </div>

            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Rename</strong></div>
                    <div class="panel-body">
                        {% if group.creator == user or user.is_staff %}
                        <div class="form-group">
                            <form class="form-inline" method="POST" action=".">
                                {% csrf_token %}
                                <div class="input-group">
                                    {{ update_form.name }}
                                </div>
                                <input type="submit"  class="btn btn-default btn-sm" name="action" value="Save Changes"/>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Group Members</strong></div>
                    <div class="panel-body">
                        <table class="table table-striped">

                            {% for m in group.members.all %}

                            <tr>
                                <td> {{ m }} </td>
                                <td>
                                    {% if m != user.profile %}

                                    <form id="remove_{{ m }}" method="POST" action=".">
                                        {% csrf_token %}
                                        <div align="right"><button class="btn btn-default btn-me"  type="submit" form="remove_{{ m }}" name="action" value="{{ m.id }}"><span class="glyphicon glyphicon-remove" style="color: red"></span></button></div>
                                    </form>

                                    {% endif %}
                                </td>
                            </tr>

                            {% endfor %}
                        </table><br>
                        <table class="table table-striped">
                            <th><strong>Add members</strong><h4>
                                <th></th>
                            {% for m in all_users %}

                             <tr>
                                 {% if m.profile not in group.members.all %}
                                <td> {{ m.profile }} </td>
                                <td>
                                   

                                    <form id="add{{ m }}" method="POST" action=".">
                                        {% csrf_token %}
                                        <div align="right"><button class="btn btn-default btn-me"  type="submit" form="add{{ m }}" name="action" value="p{{ m.profile.id }}"><span class="glyphicon glyphicon-plus" style="color: green"></span></button></div>
                                    </form>

                                    
                                </td>
                                {% endif %}
                            </tr>

                            {% endfor %}

                        </table>

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Add private reports to this group</strong></div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for r in private_reports %}
                            <li class="list-group-item">
                                {{ r }}
                                <form id="add_{{ r.short_desc }}" action="." method="POST">
                                    {% csrf_token %}
                                    <div align="right"><button class="btn btn-success btn-sm" type="submit" form="add_{{ r.short_desc }}" name="action" value="a{{ r.id }}"><span class="glyphicon glyphicon-plus"></span></button></div>
                                </form>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div align="right">
                    <form id="leave_{{ group.name }}" action="{% url 'fileshare:view_group' group.id %}" method="POST">
                        {% csrf_token %}

                        {% if user == group.creator %}
                        <button class="btn btn-warning" type="submit" form="leave_{{ group.name }}" name="action" value="l" disabled><span>Leave group</button>
                        {% else %}
                        <button class="btn btn-warning" type="submit" form="leave_{{ group.name }}" name="action" value="l" ><span>Leave group</button>
                        {% endif %}

                    </form>
                </div>

            </div>

        </div>
    </div>

</div>

</div>

{% endblock %}