{% extends 'fileshare/base.html' %}

{% block content %}

<div class="container">
	<div class="jumbotron">
		<h2><b>{{ report.short_desc }} </b></h2><br>
		<h3>{{ report.long_desc }}</h3>
	</div>

	<div class="jumbotron">
		<h2><b>Edit Report</b></h2>
		
			{% if report.owned_by == user %}

			<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ update_form.as_p }}
			<input type="file" name="files" multiple>
			<h4><b>Attached files:</b></h4>
			<table id="t01" width="60%">
				{% for f in files.all %}
				<tr>
					<td><a href="{{ f.file_attached.url }}">{{ f.file_attached.url }}</a></td>
					<td><center><button type="submit" name="remove" value="REMOVE">Remove</button></center></td>
				</tr>
				{% endfor %}
			</table><br>
			<input class="button buttonSubmit" type="submit" name="action" value="Save Changes"/>


			<input class="button buttonDelete" type="submit" name="action" value="Delete Report"/>
			{% else %}
			<font size="3">*You cannot edit this report.</font>
			{% endif %}
		</form>
	</div>
	
	

</div>

{% endblock %}